@using (Ajax.BeginForm("Index", "Search", new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "createDropDownsOnSuccess"
}))
{
        ViewBag.Title = "Search";
}

<h2>Cars - HCL2</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">@Html.DropDownList("MakeDropDown", Enumerable.Empty<SelectListItem>(), new { @class = "chosen-select form-control" })</div>
        <div class="col-md-3">@Html.DropDownList("ModelDropDown", Enumerable.Empty<SelectListItem>(), new { @class = "chosen-select form-control" })</div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="carGrid"></table>
        </div>
        <div class="col-md-12">
            <div id="pager"></div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqgrid")

<script>

    function createField(name, op, data) {
        var field = '{\"field\":\"' + name + '\",\"op\":\"' + op + '\",\"data\":\"' + data + '\"}';
        return field;
    }

    function getFilters() {
        var fields = "";
        if ($('#MakeDropDown').val() !== "") fields += (fields.length === 0 ? "" : ",") + createField("filteredMake", "eq", $('#MakeDropDown').val());
        if ($('#ModelDropDown').val() !== "") fields += (fields.length === 0 ? "" : ",") + createField("filteredModel", "eq", $('#ModelDropDown').val());
        var filters = '{\"groupOp\":\"AND\",\"rules\":[' + fields + ']}';
        return filters;
    }

    function searchData() {
        $('#carGrid').setGridParam({ postData: { 'filters': getFilters() } });
        $('#carGrid').trigger('reloadGrid');
    }

    jQuery(document).ready(function () {
        $(function () {
            $("#carGrid").jqGrid({
                url: "/Search/GetCars",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', 'Make', 'Model', 'Year', 'Trim'],
                colModel: [
                    { key: true, hidden: true, name: 'Id', index: 'Id', editable: true },
                    { key: false, name: 'Make', index: 'Make', editable: true },
                    { key: false, name: 'Model', index: 'Model', editable: true },
                    { key: false, name: 'Year', index: 'Year', editable: true },
                    { key: false, name: 'Trim', index: 'Trim', editable: true }
                ],
                pager: jQuery('#pager'),
                rowNum: 15,
                rowList: [15, 40, 45, 60],
                height: '100%',
                viewrecords: true,
                caption: 'Cars Grid',
                emptyrecords: 'No records to display',
                jsonReader: {
                    root: "Rows",
                    page: "Page",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    Id: "0"
                },
                autowidth: true,
                multiselect: false
            }).navGrid('#pager', { edit: true, add: true, del: true, search: false, refresh: true },
                {
                    // edit options
                    zIndex: 100,
                    url: '@Url.Action("Edit", "Search")',
                    closeOnEscape: true,
                    closeAfterEdit: true,
                    recreateForm: true,
                    afterComplete: function (response) {
                        if (response.responseText) {
                            alert(response.responseText);
                        }
                    }
                },
                {
                    // add options
                    zIndex: 100,
                    url: '@Url.Action("Create", "Search")',
                    closeOnEscape: true,
                    closeAfterAdd: true,
                    afterComplete: function (response) {
                        if (response.responseText) {
                            alert(response.responseText);
                        }
                    }
                },
                {
                    // delete options
                    zIndex: 100,
                    url: '@Url.Action("Delete", "Search")',
                    closeOnEscape: true,
                    closeAfterDelete: true,
                    recreateForm: true,
                    msg: "Are you sure you want to delete this car?",
                    afterComplete: function (response) {
                        if (response.responseText) {
                            alert(response.responseText);
                        }
                    }
                });

            $('#MakeDropDown').cascade({
                source: '@Url.Action("GetModels", "Search")',
                cascaded: "ModelDropDown",
                dependentNothingFoundLabel: "None Found",
                dependentStartingLabel: "Select...",
                dependentLoadingLabel: "Loading...",
                extraParams: { Make: function () { return $('#MakeDropDown').val(); } }
            });

            $(".chosen-select").chosen();

            $("#MakeDropDown").change(function (e) {
                searchData();
            });

            $("#ModelDropDown").change(function (e) {
                searchData();
            });
        });

        $('#MakeDropDown').reload({
            dependentNothingFoundLabel: "None Found",
            dependentStartingLabel: "",
            dependentLoadingLabel: "Loading",
            source: '@Url.Action("GetMakes", "Search")'
        });
    });

</script>

