@model CoderFoundry.Models.TodoList

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cars</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaskName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaskName)
            @Html.ValidationMessageFor(model => model.TaskName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaskDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaskDescription)
            @Html.ValidationMessageFor(model => model.TaskDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TargetDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TargetDate)
            @Html.ValidationMessageFor(model => model.TargetDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Severity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Severity)
            @Html.ValidationMessageFor(model => model.Severity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaskStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaskStatus)
            @Html.ValidationMessageFor(model => model.TaskStatus)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
